[Unit]
Description=puppeteer-paywall Node.js Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/chuck/git/puppeteer-paywall
ExecStart=/home/chuck/.local/bin/node /home/chuck/git/puppeteer-paywall/server-optimus.js
Restart=always
RestartSec=5
Environment=NODE_ENV=production
Environment=EXECUTABLE_PATH=/usr/lib/chromium/chromium
Environment=EXTENSION_PATHS="/home/chuck/git/puppeteer-paywall/I-Still-Dont-Care-About-Cookies/src,/home/chuck/git/puppeteer-paywall/bypass-paywalls-chrome-clean-master,/home/chuck/git/puppeteer-paywall/uBOL-home/chromium"
Environment=HOME=/root
# Fix D-Bus errors by disabling it
Environment=DBUS_SESSION_BUS_ADDRESS=/dev/null
StandardOutput=journal
StandardError=journal

# Resource Limits
LimitNOFILE=65536
LimitNPROC=4096

[Install]
WantedBy=multi-user.target
